
<div class="container">
  <div class="card">


    <h1 class="mb-5">Agenda de Compromissos</h1>

    <!-- Formulário -->
    <form (submit)="salvar()">
      <input type="text" [(ngModel)]="compromisso.titulo" name="titulo" placeholder="Titulo" required>
      <input type="text" [(ngModel)]="compromisso.descricao" name="descricao" placeholder="Descricao" required>
      <input type="text" [(ngModel)]="compromisso.data" name="data" placeholder="Data dd/MM/YYYY" required>
      <input type="text" [(ngModel)]="compromisso.hora" name="hora" placeholder="Horario ex: 10h30" required>

      <div class="Select">
        <label class="control-form">Selecione um contato: </label>
        <select [(ngModel)]="compromisso.contatoId" name="contatoId" required>
          <option value="" disabled selected>Selecione um contato</option>
          <option *ngFor="let contato of contatos" [value]="contato.id">
            {{ contato.nome }} - {{ contato.telefone }}
          </option>
        </select>
        <a class=" addComponent mt-3" routerLink="/agenda/contato">Gerir Contatos</a>
      </div>

      <div class="Select">
        <label class="control-form">Selecione um local: </label>
        <select [(ngModel)]="compromisso.localId" name="localId" required>
          <option value="" disabled selected>Selecione um local</option>
          <option *ngFor="let local of locais" [value]="local.id">
            {{ local.nome }} - {{ local.endereco }}
          </option>
        </select>
        <a *ngIf="isAdmin" class=" addComponent mt-3" routerLink="/agenda/local">Gerir Locais</a>
      </div>

      <button type="submit">{{ editando ? 'Atualizar' : 'Adicionar' }}</button>
      <button type="button" *ngIf="editando" (click)="cancelarEdicao()">Cancelar</button>
    </form>

    <p class="text-danger mt-3 text-center">{{erro}}</p>
    <table class="mt-5">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Descricão</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Contato</th>
          <th>Local</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compromisso of compromissos">
          <td>{{compromisso.titulo}}</td>
          <td>{{compromisso.descricao}}</td>
          <td>{{compromisso.data}}</td>
          <td>{{compromisso.hora}}</td>
          <td>{{getContatoInfo(compromisso.contatoId)}}</td>
          <td>{{getLocalInfo(compromisso.localId)}}</td>
          <td>
            <button class="edit" (click)="editar(compromisso)">Editar</button>
            <button class="delete" (click)="excluir(compromisso.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
